@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

:root {
  --surface-1: hsl(0, 0%, 10%);
  --surface-2: hsl(0, 0%, 20%);
  --text-1: hwb(0 100% 40%);
  --text-2: hsl(40, 80%, 60%);
  --text-3: hsl(0, 75%, 25%);
  --distance-height: 24rem;
  --distance-width-min: 32rem;
  --distance-width-max: 16rem;
}
::backdrop {
  background: black;
  opacity: 0.9;
}

html {
  color: var(--text-1);
  background-color: var(--surface-1);
  font-family: 'EB Garamond', serif;
}

h2,
label,
select {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* menu related */

button,
dialog,
#typing {
  border: none;
  background: none;
  color: var(--text-1);
  font-weight: 500;
  font-family: 'EB Garamond', serif;
}

#typing {
  text-align: center;
  font-size: 1rem;
}

dialog * {
  display: block;
}

button {
  text-transform: uppercase;
  text-align: center;
  padding: 1 2rem;
  margin: 0 auto;
}

h1 * {
  vertical-align: middle;
  color: var(--text-2);
  text-transform: uppercase;
  display: inline-block;
  font-size: 2.5rem;
  margin: -0.25rem;
}

h1 > span:first-child,
h1 > span:last-child {
  font-size: 3rem;
}

#rip > span {
  color: darkred;
  text-transform: uppercase;
  font-size: 3rem;
}
#win > span {
  color: var(--text-2);
  text-transform: uppercase;
  font-size: 3rem;
}

button:hover {
  background: radial-gradient(var(--surface-2), var(--surface-1), black, black);
}

select {
  margin-bottom: 1rem;
}

#in-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

#lanes {
  display: flex;
  justify-content: space-evenly;
  padding: 0 auto;
  height: var(--distance-height);
  min-width: var(--distance-width-max);
  max-width: var(--distance-width-min);
  border: 1px solid var(--surface-2);
}

#lanes > div {
  display: flex;
  justify-content: center;
}

#ui {
  display: flex;
  justify-content: space-between;
  min-width: var(--distance-width-max);
  max-width: var(--distance-width-min);
  border: 1px solid var(--surface-2);
}

/* animations */

#rip,
#win,
#main-menu,
select {
  animation-name: fadeIn;
  animation-duration: 10s;
}

#options-menu,
select {
  animation-name: fadeInMenu;
  animation-duration: 1s;
}

button {
  animation-name: fadeInMenu;
  animation-duration: 5s;
}
.word {
  padding: 0.5rem;
  position: absolute;
  animation-name: fallDown;
  animation-timing-function: linear;
  opacity: 0;
}

/* animation keyframes */

@keyframes fallDown {
  5% {
    opacity: 1;
  }
  100% {
    transform: translateY(var(--distance-height));
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    transform: scale(95%, 95%);
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
}

@keyframes fadeInMenu {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
