@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

:root {
  --accent-1: hsl(290, 62%, 25%);
  --accent-2: hsl(290, 62%, 33%);
  --surface-1: hsl(0, 0%, 10%);
  --surface-2: hsl(0, 0%, 20%);
  --text-1: hsl(0, 0%, 90%);
  --text-2: hsl(40, 80%, 60%);
  --text-3: hsl(0, 0%, 50%);
  --distance-1: 15rem;
  --distance-2: 20rem;
}
::backdrop {
  background: black;
}

html {
  color: var(--text-1);
  background-color: var(--surface-1);
  font-family: 'EB Garamond', serif;
}

/* menu related */
dialog * {
  display: block;
}

button,
select,
#main-menu,
#rules-menu,
#rip {
  border: none;
  background: none;
  font-family: 'EB Garamond', serif;
  margin: auto;
  text-transform: uppercase;
  color: var(--text-3);
}

.title * {
  display: inline;
  color: var(--text-2);
  vertical-align: middle;
  margin-bottom: 5rem;
}

.title-ends {
  font-size: 4rem;
}
.title-middle {
  font-size: 3rem;
  margin: -0.4rem;
}

#rip > span {
  color: darkred;
  font-size: 3rem;
}

button:hover {
  background: radial-gradient(var(--surface-1), black, black);
}


/* animations */
dialog {
  animation-name: fadeIn;
  animation-duration: 5s;
}

#rip > span,
.title {
  animation-name: fadeIn;
  animation-duration: 3s;
}

@keyframes fadeIn {
  0% {
    transform: scale(95%, 95%);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

#in-game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lanes {
  display: flex;
  gap: 4rem;
  padding: 2rem;
}

#typing {
  text-align: center;
  font-size: 1rem;
  background-color: var(--surface-2);
}

#lanes > div {
  height: var(--distance-2);
  width: var(--distance-1);
}

/* words */
.word {
  background-color: var(--accent-1);
  padding: 0.5rem;
  position: absolute;
  animation-name: fallDown;
  animation-timing-function: linear;
  opacity: 0;
}

@keyframes fallDown {
  5% {
    opacity: 1;
  }
  100% {
    transform: translateY(var(--distance-2));
    opacity: 1;
  }
}
